@media screen and (max-width: 1200px) 
{
    #desktop-nav{
        display:none;
    }
    #hamburger-nav{
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin: 0 5rem;
    }    
}

@media screen and (max-width: 900px)
{
    .swiper-button-prev{
        display: none;
    }
    .swiper-button-next{
        display: none;
    }

    section{
        margin: 0 3rem;
    }
    #profile .section__pic-container{
        display: none;
    }
    #profile .section__text{
        margin: 3rem 0rem;
    }

    #hamburger-nav{
        display: flex;
        width: 87%;
        margin: 0 auto;
        align-items: center;
        
    }

    .skills-grid {
        width: 70%;
    }

    .skill-container {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); 
        border-radius: 15px;
        padding: 10px;  
        transition: transform 0.3s, background-color 0.3s;
        border: #e0e0e0 0.2rem solid;
        height: 120px;
    }

    .skill-container img{
        height: 50px;
        margin-top: 18px;
        margin-bottom: 18px;
    }

    #project
    .swiper{
        display: none;
    }
    .mobile-project-list{
        display:contents;
    }

    #contact .title{
        font-size: 2rem;
    }

    .contact-icon-box{
        height: 50px;
        width: 50px;
        margin-right:10px;
    }
    .contact-info-container{
        width: 87%;
    }

    .contact-info-inner-container{
        font-size: 9px;
    }
    .contact-info-inner-container i{
        font-size: 1.5rem;
        color: white;
    }

    .tab_contents{
        margin: 0;
        border-bottom: 1px solid #ddd;
        margin: 0rem 2rem;
    }

    .list_tab{
        border-bottom: none !important;
    }

    .list_tab li a{
        padding: 0 3.3rem !important;
    }

    .wrap_post_list ul,
    .wrap_log_list ul {
    margin: 1rem 2rem !important;
    }
}